.main-header {
    padding: 20px;
}

.main-body {
    padding: 20px;
}

p {
    padding: 20px;
}

h4 {
    padding:20px;
}

a:link {
    color:white;
}

a:visited {
    color:yellow;
}

a:hover {
    color:yellow;
}
